/* styles.css */
:root{
--primary-text-color: rgb(0, 238, 255);  
--secondary-text-color: white;
--enemy-text-color: rgb(184, 55, 55);
--background-color: linear-gradient(#010220, #02031de3);
--secondary-background-color: #23255f;
--ship-color: rgba(18, 159, 194, 0.966);
--ship-border: #01022077;


#coordinates-display{
  color: white;
}
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

header .game-status{
  color: var(--secondary-text-color);
}
header .logo {
  width: 25rem;
}
header .game-status{
  font-size: 1.5rem;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100vw; */
  /* text-align: center; */
  box-sizing: border-box;
  margin: 1rem 0;
}

body {
  /* background-color: rgb(63, 86, 160); */
  background: var(--background-color);
  height: 100vh;
  font-family:Roboto Mono, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* width: 100%; */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
table {
  /* border-collapse: collapse; */
  margin: 1rem;
  color: var(--primary-text-color);
}
table td {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--ship-border);
  background-color: rgba(18, 29, 88, 0.911);
  cursor: pointer;
  border-radius: 10%;
  text-align: center;
}

.miss-icon {
  width: 0.6rem;         
  height: 0.6rem;        
  background-color: rgb(0, 219, 235);
  border-radius: 50%;  
  display:inline-block
}

.battlefield-two table td:hover{
  /* border: 2px solid red; */
  background-color: rgba(255, 0, 0, 0.226);
}
table th {
  font-weight:normal;
}
th[scope = "row"]{
  padding-right: 0.5rem;
}

td.occupied {
  background:var(--ship-color);
}
td.miss{
  border: 1px solid rgb(0, 219, 235); ;
}
td.hit{
  border:1px solid rgb(209, 68, 68);
}

.fleet {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  /* background-color: var(--secondary-background-color); */
}

.ship{
  display: flex;
  gap: 2px;
}

.ship.dragging{
  opacity: 0.5;
}

.ship-tile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--ship-color) ;
  border: 1px solid var(--ship-border);
  /* margin: */
  border-radius: 10%;
}
.battlefields {
  display: flex;
  justify-content: space-evenly;
}

.battlefield-name {
  font-size: 2rem;
  font-weight: 700;
}

.battlefield-name.enemy {
  color: var(--enemy-text-color);
}

.battlefield-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text-color);
}

.highlight-valid {
  background-color: rgba(26, 129, 26, 0.774);;
}

.highlight-invalid {
  background-color: rgba(88, 18, 47, 0.774);;
}


